replicaCount: 1

image:
  repository: nats
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  client: 30010
  monitoring: 30011

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

persistence:
  storageClass: "local-path"
  size: 1Gi
