postgresql:
  user: bigbox
  password: bigbox
  database: bigbox

replicaCount: 1

image:
  repository: postgres
  tag: "17-alpine"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 30001

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

persistence:
  size: 1Gi
  storageClassName: "microk8s-hostpath"
