services:
  
  # Pour donner les permissions à l'utilisateur Bigard sur le volume SFTP sans avoir à le faire manuellement.
  sftp-init:
    image: alpine
    profiles: ['sftp']
    volumes:
      - sftp_data:/home/${SFTP_USER:-bigard}
    command: chown -R 1001:1001 /home/${SFTP_USER:-bigard}

  sftp:
    image: atmoz/sftp:latest
    container_name: sftp
    profiles: ['sftp']
    volumes:
      - sftp_data:/home/${SFTP_USER:-bigard}/${SFTP_DIRECTORY:-upload}:rw
      - ${SFTP_PATH_KEY:-~/.ssh/sftp_key.pub}:/home/${SFTP_USER:-bigard}/.ssh/keys/${SFTP_USER:-bigard}.pub:ro
    ports:
      - "${SFTP_PORT:-2222}:22"
    command: ${SFTP_USER:-bigard}::1001
    depends_on:
      - sftp-init