apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bigbox-nats.fullname" . }}
  labels:
    {{- include "bigbox-nats.labels" . | nindent 4 }}
    app.kubernetes.io/component: eventbus
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "bigbox-nats.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "bigbox-nats.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: nats
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          args:
            - "--jetstream"
            - "--store_dir=/data"
            - "--http_port=8222"
          ports:
            - name: client
              containerPort: 4222
            - name: monitoring
              containerPort: 8222
          livenessProbe:
            httpGet:
              path: /healthz
              port: monitoring
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: monitoring
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          volumeMounts:
            - name: nats-data
              mountPath: /data
      volumes:
        - name: nats-data
          persistentVolumeClaim:
            claimName: {{ include "bigbox-nats.fullname" . }}-pvc
