replicaCount: 1

image:
  repository: "holomekc/wiremock-gui"
  tag: "latest-alpine"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 30030

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

persistence:
  size: 50Mi
  storageClassName: local-path
