sftp:
  user: bigbox
  directory: upload

replicaCount: 1

image:
  repository: atmoz/sftp
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  client: 30020

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

persistence:
  storageClass: "local-path"
  size: 250Mi
