replicaCount: 1

image:
  repository: ghcr.io/nats-nui/nui
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 30012

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

persistence:
  size: 250Mi
  storageClass: "microk8s-hostpath"