apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "bigbox-sftp.fullname" . }}-pvc
  labels:
    {{- include "bigbox-sftp.labels" . | nindent 4 }}
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}
